@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-[#05010d] text-white overflow-x-hidden;
  background: radial-gradient(circle at 50% -20%, #2e1065 0%, #05010d 80%);
}

.glass-card {
  background: rgba(255, 255, 255, 0.03);
  backdrop-filter: blur(12px);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 24px;
}